#logoArea > div > form > select {
	width: 199px;
}

div#featured {
	min-height: 45px;
}

html,
body {
   margin:0;
   padding:0;
   height:100%;
}
#container {
   min-height:100%;
   position:relative;
}
#header {
   padding:10px;
}
#mainBody {
   padding-bottom:240px;   /* Height of the footer */
}
#footerSection {
   position: absolute;
   bottom:0;
   width:100%;
   height:150px;   /* Height of the footer */
}

.container {
   width: 1170px;
}

.span1 {
   width: 70px;
}
.span2 {
   width: 170px;
}
.span3 {
   width: 270px;
}
.span4 {
   width: 370px;
}
.span5 {
   width: 470px;
}
.span6 {
   width: 570px;
}
.span7 {
   width: 670px;
}
.span8 {
   width: 770px;
}
.span9 {
   width: 870px;
}
.span10 {
   width: 970px;
}
.span11 {
   width: 1070px;
}
.span12 {
   width: 1170px;
}
.row {
   margin-left: -30px;
}

[class*="span"] {
   float: left;
   min-height: 1px;
   margin-left: 30px;
}

input.span3, textarea.span3, .uneditable-input.span3 {
   width: 256px !important;
}

#allcategories {
   background: url(../images/tabRepeatInactive2.png) repeat-x 0 0 !important;
}

#srchFld {
   padding-left: 30px;
   background: url(../images/search.png) no-repeat 4px center #fff;
}
.navbar-search {
   margin-top: 10px;
}

.thumbnail img {
   max-width: 160px;
}

/* Rows and Items */
.thumbnails .row3 {
  /* margin-bottom: 20px;*/
}
.thumbnails .row3:before, .thumbnails .row3:after {
   display: table;
   line-height: 0;
   content: "";
}
.thumbnails .row3:after {
   clear: both;
}
.thumbnails .row3>li {
   margin-left: 20px;
}
